/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */
.product-plp-grid .product-grid.btn-grey>.fl-button{
    display: block !important;
}
.display_none{display:none;}
.slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
/*     width: 100% !important; */
}

.uabb-image-carousel .slick-slide img{
	max-height: 200px;
}
.post-349375 .slick-track img{
	max-height: 180px;
    max-width: 250px;
}
.post-349375 .slick-track > .slick-slide:first-child img{
	margin-left: auto;
}
.fl-page {
    width: auto;
}
.fl-page-content > .container > .row > .col-md-8, .fl-page-content > .container > .row > .col-md-4{
	padding-top: 140px!important;
}
.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: auto;
    padding: 5px 20px;
    max-width: 600px;
}
.custom_searchHeader i{
	font-size: 20px!important;
}
.product-detail-layout-5 {
	padding-top: 180px;
}
 .button-wrapper .getcoupon-btn:hover{
   		background-color: #000!important;
		color: #fff!important;
   }
.button-wrapper a{
   		text-transform: uppercase!important;
   }

.fr_popup{
	    display: none;
}
.fl-content-slider .slider-menu{
	height: 0px!important;
	display: none!important;
}
footer .storename .address a p{
    margin: 0px;
    padding: 0px; 
}
/*header sticky css */

.hoverWay .affectcol > div{
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);	
}

.hoverWay .affectcoltwo > div{
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0% 0%, 25% 0%);
}
.hoverWay .affectcoltwoSide > div{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.gfield {
	padding-right: 15px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.timeEstimate .ginput_container_time > input, .timeEstimate .ginput_container_time > select{
	padding: 0px 6px!important;
}
.timeEstimate .gfield_time_ampm{
	min-width: 80px!important;
}

.timeEstimate .gfield_time_ampm > select{
	min-width: 60px!important;
}
.timeEstimate .gfield_time_hour i{
	margin-top: 0px!important;
}
.gform_wrapper textarea.large {
    height: 200px!important;
    width: 100%;
}
 .custom_searchHeader{
 	position: relative;
 	z-index: 10;
 }
.footerAddressBox .uabb-infobox-text.uabb-text-editor > p:first-child {
    display: none!important;
}
.fl-content-full.container > .row > .fl-content.col-md-12{
	padding: 0px!important;
}
.breadcrumbOnheader span{
    text-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
}
.breadcrumbOnheader span a{
    color: #fff;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
}
.breadcrumbOnheader span a:hover{
    color: #bb0400;
}
.custom_searchHeader i:hover{
	cursor: pointer!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span:before{
	    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span{
	 color: #fff!important;
}
#responsive-menu-search-box{
	padding-top: 0px!important;
}
.search-row{
	padding-top: 140px!important;
}
.fl-module-content > .uabb-gf-style .gform_wrapper .gfield select{
	margin-top: 0px !important;
}
.fl-module-content > .uabb-gf-style .gform_wrapper .gfield .gfield_time_ampm > select{
margin-top: 10px !important;
}
.custombanneralert {
    margin-top: 148px;
}	
@media(min-width:1023px){
	.fl-slide-2 .fl-slide-photo, .fl-slide-3 .fl-slide-photo {
		margin-top: 160px!important;
	}
}
/* Responsive css start here  */
@media(min-width: 768px){
.bgHideDesk .fl-col-content{
	position: absolute!important;
}
.bgHideDesktwo .fl-col-content{
	background: transparent!important;
}
}
@media(max-width: 768px){

.product-detail-layout-5 .product-attributes tr td {
	    text-align: left!important;
}
.m20 .fl-module-content{
	margin: 40px!important;		
}
.respon-menu {
    padding-left: 15%!important;
}
.bgHideDesktwo > div{
	background-attachment: scroll!important;		
}
#breadcrumbs{
	display: none!important;
}
.max-width-issue img{
	max-width: 360px!important;
	margin: 0 auto!important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
		padding: 0px!important;
}
.affectcol > div, .affectcoltwo > div{
	clip-path: none!important;
}
}
@media(max-width: 425px){

.m20 .fl-module-content{
	margin: 20px!important;		
}
button#responsive-menu-button {
    top: 25px!important;
}
#responsive-menu-container {
    width: 85%!important;
}
.custombanneralert {
    margin-top: 105px;
}	
}